@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Montserrat:400,400i,700,700i|Open+Sans:400,400i,700,700i|Roboto:400,400i,700,700i');
#loading-wrapper {
    display: none;
}
.cert-font__roboto {
    font-family: 'Roboto', sans-serif;
}

.cert-font__opensans {
    font-family: 'Open Sans', sans-serif;
}

.cert-font__montserrat {
    font-family: 'Montserrat', sans-serif;
}

.cert-font__lora {
    font-family: 'Lora', serif;
}

.cert-wokrspace {
    overflow: auto;
    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px 0;
    }
    &__control {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        & h5 {
            font-size: 17px;
            margin: 0 10px 0 0;
        }
        & span {
            margin-right: 7px;
        }
        & .btn {
            margin-right: 10px;
        }
    }
    &__content {
        height: 793.7px; //210mm;
        width: 1122.5px; // 297mm;
        background-color: #b6e6e4;
        background-repeat: no-repeat;
        position: relative;
        & .cert-name,
        & .cert-number,
        & .cert-course,
        & .cert-date,
        & .cert-duration {
            position: absolute;
            color: #000;
            background: transparent;
            cursor: move;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            &.cert-bordered {
                outline: 1px dashed #777;
            }
            &.cert-active {
                outline: 3px dashed #777;
            }
        }
    }
}

.cert-controls {
    &__header {
        font-size: 1.25rem;
        padding: 20px 0;
    }
    & .form-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dashed #eee;
        & label {
            line-height: 1.25;
            margin: 0 1rem 0 0;
        }
        & input {
            width: 100px;
            &[type="checkbox"] {
                width: auto;
            }
        }
        & select {
            width: 200px;
        }
        & label.custom-file {
            margin: 0;
        }
    }
    & .custom-file-control::before {
        content: "Выбрать" !important;
    }
    & .custom-file-control::after {
        content: "Выбрать файл..." !important;
    }
    & input[type="color"] {
        -webkit-appearance: none;
        height: 50px;
    }

    & .control-bg-position {
        display: flex;
    }
    & .cert-bg-tip {
        font-size: 0.8rem;
    }
}