- var buildMode = false

doctype html
html
    head
        include template/head.pug
    body
        p content

        script(src="vendor/jquery.min.js")
        script(src="vendor/fancybox/jquery.fancybox.min.js")
        script(src="vendor/slick/slick.min.js")
        script(src="js/dist/main.js")